@use "../../variables/colors" as c;

.btn {
  background-color: c.$success-color;
  color: c.$light-color;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px 0;
  width: 30%;

  &:hover {
    background-color: darken($color: c.$success-color, $amount: 10);
  }
}
